.popup__image-container {
    position: relative;
    background: #FFFFFF;
    width: 75vw;
    height: 75vh;
}

@media (max-width: 772px) {
    .popup__image-container {
        width: 75vw;
        height: 75vh;
    }

@media (max-width: 610px) {
    .popup__image-container {
        width: 80vw;
    }

@media (max-width: 580px) {
    .popup__image-container {
        height: 60vw;
    }